.prediction{

padding:100px 8%;

background:#08131f;

display:flex;

justify-content:center;

}

.prediction-box{

width:100%;

max-width:900px;

padding:50px;

border-radius:25px;

background:rgba(255,255,255,.05);

backdrop-filter:blur(20px);

border:1px solid rgba(255,255,255,.08);

}

.prediction-box h2{

color:white;

font-size:40px;

margin-bottom:10px;

text-align:center;

}

.prediction-box p{

color:#cfcfcf;

text-align:center;

margin-bottom:40px;

font-size:18px;

}

.grid{

display:grid;

grid-template-columns:1fr 1fr;

gap:20px;

}

.grid input{

padding:18px;

border:none;

border-radius:12px;

background:#162435;

color:white;

font-size:17px;

outline:none;

transition:.3s;

}

.grid input:focus{

border:2px solid #66d100;

}

.predict-form button{

margin-top:35px;

width:100%;

padding:18px;

border:none;

border-radius:15px;

background:#66d100;

font-size:20px;

font-weight:bold;

color:white;

cursor:pointer;

transition:.3s;

}

.predict-form button:hover{

transform:translateY(-3px);

background:#55c000;

}

@media(max-width:800px){

.grid{

grid-template-columns:1fr;

}

}